.personas {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .personas{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .personas{
        display: flex;
        flex-direction: column;
    }
}