.header {
    display: flex;
    background-color: var(--color-primary);
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.menu {
    display: flex;
}

.menu__item {
    list-style: none;
} 

.menu__link {
    text-decoration: none;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: var(--color-text-primary);
    font-weight: 500;
}

a.menu__item-destacado {
    font-family: 'Montserrat';
}

.menu__link:hover {
    color: aquamarine;
    text-decoration: underline;
}