.menu {
    display: flex;
}

.menu__item {
    list-style: none;
} 

.menu__link {
    text-decoration: none;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: var(--color-text-primary);
    font-weight: 500;
}

a.menu__item-destacado {
    text-decoration: underline;
    font-weight: 600;
}

.menu__link:hover {
    color: aquamarine;
    text-decoration: underline;
}